.articleContainer {
    background-image:url('/item_header.svg');
    display: flex;
    flex-direction: column-reverse;

    margin: 15px 0 25px -25px;
    padding: 15px;
    transition: .1s;
    width: calc(100% + 50px);
    transition-timing-function: ease-in-out;

    &.odd {
        background-image:url('/item_header_reverse.svg');
    }

    &:hover {
        cursor: pointer;
        margin-left: -25px;
    }
}

.avatar {
    display: none;
    position: relative;
}

.copy {
    flex: 1;
    font-family: 'Josefin Sans';
    font-size: .9em;

    h2 {
        color: $orange;
        font-size: 1.3em;
        margin: .2em 0;
    }

    time {
        color: $light-brown;
        font-size: .8em;
        font-weight: 300;
    }

    .author {
        color: $light-brown;
        display: none;
        margin: .8em 0 1em;
        font-size: 1em;
        font-weight: 300;
    }

    p {
        color: $lighter-brown;
        display: -webkit-box;
        font-weight: 300;
        line-height: 1.2em;
        margin: 5px 0;
        max-height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.preview {
    display: block;
    height: 200px;
    position: relative;
    margin-bottom: 5px;
}


@media (min-width: 730px) {
    .articleContainer {
        flex-direction: row;
        margin-left: -35px;
        width: calc(100% + 70px);
    
        &:hover {
            cursor: pointer;
            margin-left: -25px;
        }
    }
    .copy {
        padding: 0 30px;

        h2 {
            color: $orange;
            font-size: 1.3em;
            margin: .2em 0;
        }
    
        time {
            color: $light-brown;
            margin: 0;
            font-size: 1.3em;
            font-weight: 300;
        }
    
        .author {
            color: $light-brown;
            display: block;
            margin: .8em 0 1em;
            font-size: 1em;
            font-weight: 300;
        }
    
        p {
            color: $lighter-brown;
            display: -webkit-box;
            font-weight: 300;
            line-height: 1.2em;
            margin: 0;
            max-height: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .avatar {
        background-color: $beige;
        display: block;
        height: 128px;
        width:128px;
    }

    .preview {
        width: 240px; 
        height: 136px;
    }
}